---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Servicios">

<h1 class="text-center espacio_sup shadow">Servicios</h1>
<div class="flex flex-wrap gap-2 justify-center my-3">
    
<Card imagen="/noticias/aspel.jpg" title="Aspel" body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, harum assumenda dolorem nobis veniam cumque facilis voluptatibus officiis sapiente deserunt necessitatibus delectus nulla incidunt, sed animi repudiandae officia autem tempore." href =""/>

<Card imagen="/noticias/idse.jpg" title="Idse" body="La nueva version de Java 8 update 351 esta aqui para mantener al dia tu portal IDSE. IDSE ahora es compatible con Google Chrome" href ="https://javadl.oracle.com/webapps/download/AutoDL?BundleId=247134_10e8cce67c7843478f41411b7003171c"/>

<Card imagen="/noticias/contpaqi.jpg" title="Contpaq i" body="Requieres las ultimas versiones de Contpaqi, aqui tenemos el acceso rapido a estos repositorios del proveedor." href =""/>

<Card imagen="/noticias/sat.jpg" title="SAT" body="Facturación 4.0 el SAT establecio el 1 de julio para la entrada en vigor. Es decir que los contribuyentes mexicanos podrán presentar la versión 3.3 hasta el 31 de Diciembre de 2023.." href =""/>
</div>
</Layout>